body::after {
    content: "";
    background-image: url('../img/30117.jpg');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
h1{
    text-align: center;
}
.accordion-container{

    width: 95%;
    max-width: 992px;
    height: auto;   
}
.accordion{
    user-select: none;
    list-style: none;
    width: 100%;
}
.accordion li{
    box-shadow: 0px 3px 5px rgba(0,0,0,.3);
}
.accordion-btn{
    background-color: blanchedalmond;
    background-color: lightgrey;
    padding: 20px;
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0 0;
    cursor: pointer;
}
.accordion-btn:hover{
    background-color: darken(blanchedalmond);
}
.accordion-content{
    padding: 0 50px;
    height: 0;
    transition: all .5s;
    overflow-y: hidden;
    font-size: 1.8rem;
    line-height: 3rem;
    background-color: #fff;
}
.accordion-content.open{
    padding: 10px 50px 20px;
    height: auto;
}


