
/* images gallery */
.slider-container{
    background-color: #000;
}
.slider-img{
    width: 100%;
}
.slider-img img{
    width: 100%;
    transition: all .3s
}
.slider-img img.hide{
    opacity: 0;
}
/* end images gallery */

/* cards container */
.cards-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    
    width: 95%;
    margin: 0 auto;
    max-width: 992px;
    height: auto;
}
.card{
    position: relative;
}
.card-description{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    color: #fff;
    transition: all .3s;
}
.card-description:hover{
    opacity: 1;
}
.card-text li{
    padding: 5px 0 0 10px;
    list-style: none;
    font-size: 2rem;
}
.card-text li a{
    color: #fff;
    text-decoration: none;
}
.card figure.card-img{
    width: 100%;
    height: 100%;
}
.card figure.card-img>img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* end cards container */

@media (min-width: 760px){
    .cards-container{
        grid-template-columns: auto auto auto;
        width: 80%;
        max-width: 992px;
        height: auto;
        margin: 0 auto;
    }
}